CF_EMAIL=your cloudflare account
CF_DNS=your cloudflare dns api token
CF_ZONE=your cloudflare zone api token

AUTH_SECRET=32-digit random characters
AUTH_URL=your auth domain
#for example : auth.test.domain
AUTH_GOOGLE_ID=your google api id
AUTH_GOOGLE_SECRET=your google api secret
